<h1>Add a Contact</h1>

<form action="/contacts_after_add">
  <label>Contact Name</label>
  <input type="text" name="contact-name">
  <button type="submit" name="add-contact-button" class="btn btn-info">Add Contact</button>
</form>
<hr>
<a href='/'>Go Home!</a>
