<h1>Contact List</h1>

<ul>
<% @contacts.each do |contact| %>
  <li><a href='/contact/<%= contact.id %>'><%= contact.name %></a></li>
<% end %>
</ul>

<hr>
<a href="/add_contact">Add Another Contact</a>
<a href="/">Go Home!</a>
<a style='color: red;' href="/contacts_clear">Clear Contacts</a>
